<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	<typeAliases>

		<typeAlias type="ga.bowwow.service.board.Board" alias="board" />
		<typeAlias type="ga.bowwow.service.board.Comment" alias="comment" />
		<typeAlias type="ga.bowwow.service.pet.Pet" alias="pet" />
		<typeAlias type="ga.bowwow.service.store.Products" alias="Product" />

	</typeAliases>

	<mappers>
		<mapper resource="mappings/BoardMapper.xml" />
		<mapper resource="mappings/PetMapper.xml" />
		<mapper resource="mappings/StoreMapper.xml" />
		<mapper resource="mappings/ProductsReviewMapper.xml" />
		<mapper resource="mappings/StoreInquiryMapper.xml" />
	</mappers>
</configuration>