/*
	mypage profile page style
*/

  .myPageInfo-header {
  	text-align: center;
  }  
  .myPageInfo-wrapper {
	display: flex;
	justify-content: center;
  }
  
 .side-content {
	position: relative;
	display: inline-block;
	float: left;
 }
 .side-content .my-area {
    border-radius: 70px;
    margin: 30px;
    border: 1px solid rgba(228, 228, 228, 0.5);
    border-radius: 10px;
 
 }
 .side-content .my-area .side-profile-img{
	/* float: left; */
    background-size: cover;
    width: 140px;
    height: 140px;
    border-radius: 70px;
    margin: 0 auto 10px;
}

  .side-content .my-area p{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 29px;
}

 .mainMypage-content {
 	display: inline-block;
    /*width: calc( 100% - 280px);*/
    width: 100%;
    margin-bottom: 50px;
    float : right;
}
 .block-title a{
    line-height: 28px;
    color: #b0b0b0;
    font-size: 10px;
    font-weight: 300;
    border: 0;
    background: none;
    float: right;
    margin-right: 50px;
 }
.block-title h3{
	font-size: 1.5em;
}
.form-control .noborderline {
	background-color : f3f3f3;
	border: none;
}
.pass, .pass { 
	position: relative; 
} 
.pass .eyes { 
	position: absolute; 
	top: 0; 
	bottom: 0; 
	right: 20px; 
	margin: auto 2px; 
	height: 30px; 
	font-size: 20px; 
	cursor: pointer; 
}
