<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserAddress">

	<insert id="insertTemporaryUserAddress" parameterType="UserAddress" >
		INSERT INTO USER_ADDRESS (ADDRESS_ID, MEMBER_SERIAL, ADDRESS_FIRST, ADDRESS_SECOND, ZIP) 
		VALUES ( , #{memberSerial} , #{Address}, #{Zonecode}, #{detailAddress})
	</insert>
</mapper>
