<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Admin">
	<delete id="deleteProduct" parameterType="Product">
		DELETE STORE_PRODUCTS
		WHERE P_ID = #{p_id}
	</delete>
	
	<update id="updateProductStock" parameterType="Product">
		UPDATE STORE_PRODUCTS
		SET STOCK = #{stock}
		WHERE P_ID = #{p_id}
	</update>
	
	<insert id="insertProduct" parameterType="Product">
      INSERT INTO STORE_PRODUCTS (P_ID, P_NAME, P_TYPE, PRICE, STOCK, 
            S_IMAGE, L_IMAGE, P_CATEGORY)
      VALUES (P_SEQ.NEXTVAL, #{p_name}, #{p_type}, #{price}, #{stock}, 
            #{s_image}, #{l_image}, #{p_category})
   </insert>
</mapper>