<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BoardDAO">

	<insert id="insertBoard" parameterType="Map">
		INSERT INTO 
		<choose>
			<when test="board_idx == 1"> 
				DIARY_BOARD (BOARD_NO, BOARD_TITLE, MEMBER_SERIAL, BOARD_CONTENT, IMG1, REGDATE, HITS, ANIMAL_CLASS) 
				VALUES (DIARY_BOARD_SEQ.NEXTVAL, #{board_title}, #{member_serial}, #{board_content}, #{img1}, SYSDATE, 0, #{animal_class})
			</when>
			<when test="board_idx == 2"> 
				INTRO_BOARD (BOARD_NO, BOARD_TITLE, MEMBER_SERIAL, BOARD_CONTENT, IMG1, REGDATE, HITS, ANIMAL_CLASS) 
				VALUES (INTRO_BOARD_SEQ.NEXTVAL, #{board_title}, #{member_serial}, #{board_content}, #{img1}, SYSDATE, 0, #{animal_class})
			</when>
			<when test="board_idx == 3"> 
				KNOWHOW_BOARD (BOARD_NO, BOARD_TITLE, MEMBER_SERIAL, BOARD_CONTENT, IMG1, REGDATE, HITS, SUB_CLASS, ANIMAL_CLASS) 
				VALUES (KNOWHOW_BOARD_SEQ.NEXTVAL, #{board_title}, #{member_serial}, #{board_content}, #{img1}, SYSDATE, 0, #{sub_class}, #{animal_class})
			</when>
			<when test="board_idx == 4"> 
				MISSING_BOARD (BOARD_NO, BOARD_TITLE, MEMBER_SERIAL, BOARD_CONTENT, IMG1, REGDATE, HITS, ANIMAL_CLASS) 
				VALUES (MISSING_BOARD_SEQ.NEXTVAL, #{board_title}, #{member_serial}, #{board_content}, #{img1}, SYSDATE, 0, #{animal_class})
			</when>
			<when test="board_idx == 5"> 
				USED_TRANSACTION_BOARD (BOARD_NO, BOARD_TITLE, MEMBER_SERIAL, GOODS, AREA, PRICE, IS_SELLED, 
										BOARD_CONTENT, IMG1, REGDATE, HITS, ANIMAL_CLASS) 
				VALUES (USED_TRANSACTION_BOARD_SEQ.NEXTVAL, #{board_title}, #{member_serial}, #{goods}, #{area}, #{price}, #{is_selled}
						, #{board_content}, #{img1}, SYSDATE, 0, #{animal_class})
			</when>
			<when test="board_idx == 6"> 
				EVENT_BOARD (BOARD_NO, BOARD_TITLE, BOARD_CONTENT, REGDATE, IMG1, HITS) 
				VALUES (EVENT_BOARD_SEQ.NEXTVAL, #{board_title}, #{board_content}, #{img1}, SYSDATE, 0)
			</when>
			
		</choose>
	</insert>
	
	<select id="getBoardList" parameterType="Map" resultType="board" >
		SELECT BOARD_NO, B.MEMBER_SERIAL, BOARD_TITLE, ID 
		FROM 
		<choose>
			<when test="board_idx == 1"> DIARY_BOARD B, USER_ACCOUNT U WHERE B.MEMBER_SERIAL = U.MEMBER_SERIAL </when>
			<when test="board_idx == 2"> INTRO_BOARD B, USER_ACCOUNT U WHERE B.MEMBER_SERIAL = U.MEMBER_SERIAL </when>
		</choose>
	</select>
	
	<select id="getBoard" parameterType="Map" resultType="board">
		SELECT BOARD_NO, BOARD_CONTENT, BOARD_TITLE
		FROM 
		<choose>
			<when test="board_idx == 1"> DIARY_BOARD </when>
			<when test="board_idx == 2"> INTRO_BOARD </when>
		</choose>
		WHERE BOARD_NO = #{board_no}
	</select>
	
	<update id="updateBoard" parameterType="Map">
		UPDATE 
		<choose>
			<when test="board_idx == 1"> 
			DIARY_BOARD 
			SET BOARD_TITLE = #{board_title}
				, BOARD_CONTENT = #{board_content}
				, ANIMAL_CLASS = #{animal_class}
			</when>
			<when test="board_idx == 2"> 
			INTRO_BOARD 
			SET BOARD_TITLE = #{board_title}
				, BOARD_CONTENT = #{board_content}
				, ANIMAL_CLASS = #{animal_class}
			</when>
			<when test="board_idx == 3"> 
			KNOWHOW_BOARD 
			SET BOARD_TITLE = #{board_title}
				, BOARD_CONTENT = #{board_content}
				, ANIMAL_CLASS = #{animal_class}
				, SUB_CLASS = #{sub_class}
			</when>
			<when test="board_idx == 4"> 
			MISSING_BOARD 
			SET BOARD_TITLE = #{board_title}
				, BOARD_CONTENT = #{board_content}
				, ANIMAL_CLASS = #{animal_class}
			</when>
			<when test="board_idx == 5"> 
			USED_TRANSACTION_BOARD 
			SET BOARD_TITLE = #{board_title}
				, GOODS = #{goods}
				, AREA = #{area}
				, PRICE = #{price}
				, IS_SELLED = #{is_selled}
				, BOARD_CONTENT = #{board_content}
				, ANIMAL_CLASS = #{animal_class}
			</when>
			<when test="board_idx == 6"> 
			EVENT_BOARD 
			SET BOARD_TITLE = #{board_title}
				, BOARD_CONTENT = #{board_content}
			</when>
		</choose> 
		WHERE BOARD_NO = #{board_no}
	</update>
	
	
	<insert id="insertComment" parameterType="comment">
		INSERT INTO DIARY_COMMENTS (COMMENT_NO, MEMBER_SERIAL, BOARD_NO, COMMENT_CONTENT, REGDATE) 
		VALUES (DIARY_COMMENTS_SEQ.NEXTVAL, #{member_serial}, #{board_no}, #{comment_content}, SYSDATE)
	</insert>
	
	<insert id="insertComment2" parameterType="comment">
		INSERT INTO DIARY_COMMENTS2 (COMMENT_NO2, MEMBER_SERIAL, COMMENT_NO, COMMENT_CONTENT2, REGDATE) 
		VALUES (DIARY_COMMENTS2_SEQ.NEXTVAL, #{member_serial}, #{comment_no}, #{comment_content}, SYSDATE)
	</insert>
	
	
	<select id="getCommentList" parameterType="Map" resultType="comment" >
		SELECT COMMENT_NO, BOARD_NO, COMMENT_CONTENT, REGDATE, NICKNAME
		FROM 
		<choose>
			<when test="board_idx == 1"> DIARY_COMMENTS C, USER_DETAIL U WHERE C.MEMBER_SERIAL = U.MEMBER_SERIAL </when>
			<when test="board_idx == 2"> INTRO_COMMENTS C, USER_DETAIL U WHERE C.MEMBER_SERIAL = U.MEMBER_SERIAL </when>
		</choose>
		AND BOARD_NO = #{board_no}
	</select>
	
	<select id="getComment2List" parameterType="Map" resultType="comment" >
		SELECT COMMENT_NO2, C2.COMMENT_NO, C2.COMMENT_CONTENT2 AS COMMENT_CONTENT, C2.REGDATE, NICKNAME
		FROM 
		<choose>
			<when test="board_idx == 1"> 
			DIARY_COMMENTS2 C2, DIARY_COMMENTS C, USER_DETAIL U 
			</when>
			<when test="board_idx == 2"> 
			INTRO_COMMENTS2 C2, INTRO_COMMENTS C, USER_DETAIL U 
			</when>
		</choose>
		WHERE C2.COMMENT_NO = C.COMMENT_NO
		AND C2.MEMBER_SERIAL = U.MEMBER_SERIAL
	</select>
	
	 <select id="search" parameterType="Map" resultType="board">
		SELECT *
		FROM 
		<choose>
			<when test='board.equals("1")'> 
			DIARY_BOARD
			</when>
			<when test='board.equals("2")'> 
			INTRO_BOARD 
			</when>
			<when test='board.equals("3")'> 
			KNOWHOW_BOARD
			</when>
		</choose>
			WHERE BOARD_CONTENT LIKE '%'||#{keyword}||'%'
			OR  BOARD_TITLE LIKE '%'||#{keyword}||'%' 	
	</select> 
	
	
<!-- 	

	<select id="getBoardList" parameterType="string" resultType="board" >
		SELECT BOARD_NO, MEMBER_SERIAL, BOARD_TITLE
		FROM DIARY_BOARD D, USER_ACCOUNT U
		WHERE D.MEMBER_SERIAL = U.MEMBER_SERIAL
		AND BOARD_NO = #{board_no}
	</select>
	
	
	<update id="updateBoard" parameterType="board">
		UPDATE BOARD 
		SET TITLE = #{title}, CONTENT = #{content} 
		WHERE SEQ = #{seq}
	</update>
	
	<delete id="deleteBoard" parameterType="board">
		DELETE FROM BOARD WHERE SEQ = #{seq}
	</delete>
	
	<select id="getBoard" parameterType="board" resultType="board">
		SELECT * FROM BOARD WHERE SEQ = #{seq}
	</select>
	
	<select id="getBoardList" parameterType="board" resultType="board">
		SELECT * FROM BOARD 
		WHERE 1=1
		<if test="searchCondition == 'TITLE'">
			AND TITLE LIKE '%'|| #{searchKeyword} ||'%'
		</if> 
		<if test="searchCondition == 'CONTENT'">
			AND CONTENT LIKE '%'|| #{searchKeyword} ||'%'
		</if>
		ORDER BY SEQ DESC
	</select>
	
	
	<select id="getBoardList_T" parameterType="board" resultType="board">
		SELECT * FROM BOARD WHERE TITLE LIKE '%'|| #{searchKeyword} ||'%'
		ORDER BY SEQ DESC
	</select>
	<select id="getBoardList_C" parameterType="board" resultType="board">
		SELECT * FROM BOARD WHERE CONTENT LIKE '%'|| #{searchKeyword} ||'%'
		ORDER BY SEQ DESC
	</select>
	
	
	<sql id="criteria">
		<trim prefix="and("suffix=")" prefixOverrides="OR">
			<foreach item='type' collection="typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type== 'T'.toString()">
							post_title like '%' || #{keyword}||'%'
						</when>
						<when test="type== 'C'.toString()">
							post_title like '%' || #{keyword}||'%'
						</when>
						<when test="type== 'W'.toString()">
							post_title like '%' || #{keyword}||'%'
						</when>
					</choose>		
				</trim>	
			</foreach>
		</trim>
	</sql>
	
	<select id="selectboardList" resultType="board">
		select
		*
		from
			(select
				rownum rno,b.*
			from
				board_post b
			where
				isshow !='N'
		<include refid="criteria"></include>
			order by
				post_no desc
			)
		where
			rno between(#{pageNum}-1)*#{amount}+1 and (#{pageNum})*#{amount}
		
	</select> -->
	
</mapper>









