<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="inquiry">
	<!-- ~~문의는 수정, 삭제 불가~~ -->
	
	<!-- 이용자 -->
	<!-- 문의입력 -->
	<insert id="userInquiryWrite" parameterType="userinquiry">
		INSERT INTO INQUIRY_USER (INQUIRY_SERIAL,MEMBER_SERIAL,NICKNAME,INQUIRY_TITLE,INQUIRY_CONTENT,
				INQUIRY_WRITEDATE,INQUITY_TYPE) 
		VALUES (INQ_PERSONAL_SEQ.NEXTVAL, #{member_serial}, #{nickname}, #{inquiry_title}, #{inquiry_content},
				SYSDATE, #{inquiry_type})
	</insert>
	
	<!-- 본인 문의조회 -->
	<select id="userInquiryListSelect" parameterType="userinquiry" resultType="userinquiry">
		SELECT * FROM INQUIRY_USER
		WHERE MEMBER_SERIAL = #{member_serial}
		<!-- <choose>
			<when test='inquiry_type.equals("contactUs")'>AND INQUIRY_TYPE = 'contactUs'</when>
			<when test='inquiry_type.equals("buy")'>AND INQUIRY_TYPE = 'buy'</when>
			<when test='inquiry_type.equals("delivery")'>AND INQUIRY_TYPE = 'delivery'</when>
			<when test='inquiry_type.equals("etc")'>AND INQUIRY_TYPE = 'etc'</when>
		</choose> -->
		ORDER BY INQUIRY_WRITEDATE DESC
	</select>
	
	<!-- 본인 문의조회 -->
	<select id="userInquiryCount" parameterType="userinquiry" resultType="Map">
		SELECT U.INQUIRY_TITLE, U.MEMBER_SERIAL, U.INQUIRY_CONTENT,
		        U.INQUIRY_WRITEDATE, U.INQUIRY_TYPE,
		        U.INQUIRY_SERIAL, A.INQUIRY_SERIAL,
		        A.COUNT as COUNT
		FROM INQUIRY_USER U, (SELECT INQUIRY_SERIAL, COUNT(*) AS COUNT
			                    FROM INQUIRY_ADMIN
			                    GROUP BY INQUIRY_SERIAL) A
		WHERE U.INQUIRY_SERIAL = A.INQUIRY_SERIAL
		    AND U.INQUIRY_SERIAL = #{inquiry_serial }
		    AND U.MEMBER_SERIAL = #{member_serial }
	    ORDER BY U.INQUIRY_WRITEDATE DESC
	</select>
	
	<select id="countAnswer" parameterType="int" resultType="int">
		SELECT COUNT(*) FROM INQUIRY_ADMIN
		WHERE INQUIRY_SERIAL = #{inquiry_serial }
	</select>
		
	<!-- 관리자 -->
	<!-- 관리자 답변조회-->
	<select id="adminInquirySelect" parameterType="int" resultType="admininquiry">
		SELECT * FROM INQUIRY_ADMIN
		WHERE INQUIRY_SERIAL = #{inquiry_serial}
	</select>
	
	<insert id="adminInquiryWrite" parameterType="admininquiry">
		INSERT INTO INQUIRY_ADMIN (INQUIRY_RE_SERIAL, INQUIRY_SERIAL, INQUIRY_RE_CONTENT,
				INQUIRY_RE_DATE, ADMIN_NAME) 
		VALUES (INQ_RE_SEQ.NEXTVAL, #{inquiry_serial}, #{inquiry_re_content}, 
				SYSDATE, #{admin_name})
	</insert>
	
	
	
	
</mapper>









