<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PetInfo">

	<!-- 반려동물 정보 등록 -->
	<insert id="insertPetInfo" parameterType="pet">
		INSERT INTO USER_PETINFO (
			PET_SERIAL, MEMBER_SERIAL, IMAGE_SOURCE, ANIMAL_TYPE,
			PET_NAME, PET_GENDER, PET_VARIETY, PET_AGE, PET_SIZE,
			TNR, PET_WEIGHT, PET_BIRTH, NECK_LENGTH, BACK_LENGTH,
			CHEST_LENGTH, PET_ETC)
		VALUES (
		 PET_SEQ.NEXTVAL, #{member_serial}, #{image_source}, #{animal_type},
		 #{pet_name}, #{pet_gender}, #{pet_variety}, #{pet_age}, #{pet_size},
		 #{tnr}, #{pet_weight},  #{pet_birth}, #{neck_length}, #{back_length},
		 #{chest_length}, #{pet_etc})
	</insert>
	
	<!-- 반려동물 정보수정 - 유형, 이름, 성별, 품종은 안바꿔도 되잖아!! -->
	<update id="updatePetInfo" parameterType="pet">
		UPDATE FORM USER_PETINFO
		 SET
			IMAGE_SOURCE = #{image_source},
			PET_NAME = #{pet_name},
			PET_GENDER = #{pet_gender},
			PET_VARIETY = #{pet_variety},
			PET_AGE = #{pet_age},
			PET_SIZE = #{pet_size},
			TNR = #{tnr },
			PET_WEIGHT = #{pet_weight},
			PET_BIRTH = #{pet_birth},
			NECK_LENGTH = #{neck_length},
			BACK_LENGTH = #{back_length},
			CHEST_LENGTH = #{chest_length},
			PET_ETC = #{pet_etc}
	</update>
	
	<!-- 정보 삭제 -->
	<delete id="deletePetInfo" parameterType="pet">
		DELETE FROM USER_PETINFO
		WHERE PET_SERIAL = #{pet_serial }
	</delete>
	
	<!-- 조회 : petSerial로 검색 -->
	<select id="getPetInfo" parameterType="pet" resultType="pet">
		SELECT 
			PET_SERIAL, MEMBER_SERIAL, IMAGE_SOURCE, ANIMAL_TYPE, PET_NAME,
			PET_GENDER, PET_VARIETY, PET_AGE, PET_SIZE, TNR,
			PET_WEIGHT, TO_CHAR(PET_BIRTH, 'YYYY/MM/DD') as PET_BIRTH,
			NECK_LENGTH, BACK_LENGTH, CHEST_LENGTH, PET_ETC
		 FROM USER_PETINFO
		WHERE PET_SERIAL = #{pet_serial }
	</select>
	
	<!-- 조회 : String memberSerial로 pet검색 -->
	<select id="getPetInfoList" parameterType="pet" resultType="pet">
		SELECT 
			PET_SERIAL, MEMBER_SERIAL, IMAGE_SOURCE, ANIMAL_TYPE, PET_NAME,
			PET_GENDER, PET_VARIETY, PET_AGE, PET_SIZE, TNR,
			PET_WEIGHT, TO_CHAR(PET_BIRTH, 'YYYY/MM/DD') as PET_BIRTH,
			NECK_LENGTH, BACK_LENGTH, CHEST_LENGTH, PET_ETC
		 FROM USER_PETINFO
		WHERE MEMBER_SERIAL = #{member_serial }
	</select>
	
</mapper>









