<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="StoreReview">

	<!-- 리뷰 작성 -->
	<insert id="insertProductReview" parameterType="Review">
		INSERT INTO STORE_REVIEW (REVIEW_ID, P_ID, MEMBER_SERIAL, REVIEW_TITLE, REVIEW_CONTENT, REVIEW_REGDATE, REVIEW_IMAGE) 
		VALUES (REVIEW_SEQ.NEXTVAL, #{p_id}, #{member_serial}, #{review_title}, #{review_content}, SYSDATE, #{review_image})
	</insert>
	
	<!-- 가장 마지막에 작성된 리뷰 가져오기 -->
	<select id="getLastReview" parameterType="int" resultType="Review">
		SELECT * FROM(
    		SELECT *  FROM STORE_REVIEW
    	ORDER BY REVIEW_ID DESC)
		WHERE ROWNUM = 1
	</select>
	
	<!-- 상품에 작성된 리뷰 전체 출력 -->
	<select id="reviewList" parameterType="int" resultType="Review">
		SELECT * FROM STORE_REVIEW
		WHERE P_ID = #{p_id}
		ORDER BY REVIEW_ID DESC
	</select>
	
	<!-- 리뷰 삭제 -->
	<delete id="deleteProductReview" parameterType="int">
		DELETE FROM STORE_REVIEW
		WHERE REVIEW_ID = #{review_id}
	</delete>
</mapper>









