<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Store">

	<insert id="insertProduct" parameterType="Product">
		INSERT INTO STORE_PRODUCTS (P_ID, P_NAME, P_TYPE, P_CATEGORY, PRICE, 
									STOCK, S_IMAGE, L_IMAGE, P_PICK)
		VALUES (P_SEQ.NEXTVAL, #{p_name}, #{p_type}, #{p_category}, #{price}, 
									#{stock}, #{s_image}, #{l_image}, #{p_pick})
	</insert>
	
	<!-- 전체 상품 조회 -->
	<select id="ProductList" parameterType="Map" resultType="Product">
		SELECT * FROM 
			(
				SELECT ROWNUM AS RN, PROD.* FROM 
				( 
					SELECT 
						P_ID, SUBSTR(P_NAME, 0, 17) AS P_NAME, P_TYPE, P_CATEGORY, 
		  				PRICE, STOCK, S_IMAGE, L_IMAGE 
		  			FROM STORE_PRODUCTS
		 			WHERE 1=1
		 			<if test="idx != null">
		 			  AND P_TYPE = #{idx}
		 			</if>
		 			<if test="keyword != null">
		 			  AND P_CATEGORY = #{keyword}
		 			</if>
		 			ORDER BY P_ID DESC 
		 		) PROD 
		 	)
		 WHERE RN BETWEEN #{begin} AND #{end}
	</select>
	
	<!-- 전체 상품 수 -->
	<select id="ProductCount" parameterType="Map" resultType="int">
		SELECT 	COUNT(*) AS CNT 
		FROM	STORE_PRODUCTS
		WHERE	1=1
		 			<if test="idx != null">
		 			  AND P_TYPE = #{idx}
		 			</if>
		 			<if test="keyword != null">
		 			  AND P_CATEGORY = #{keyword}
		 			</if>
	</select>
	
	<!--상품 상세 조회 -->
	<select id="getProductDetail" parameterType="int" resultType="Product">
		SELECT P_ID, P_NAME, P_TYPE, P_CATEGORY, PRICE, STOCK, S_IMAGE, L_IMAGE
		  FROM STORE_PRODUCTS
		 WHERE P_ID = #{p_id}
    </select>
    
</mapper>









