<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="StoreCartlist">

<!-- 	<insert id="insertCartlist" parameterType="Cartlist">
		INSERT INTO STORE_PRODUCTS (CART_ID, MEMBER_SERIAL, P_ID, AMOUNT)
		VALUES (CART_SEQ.NEXTVAL, #{member_serial}, #{p_id}, #{amount})
	</insert>
	
    <select id="cartlistList" parameterType="int" resultType="Cartlist">
    	SELECT * FROM STORE_CARTLIST
    	WHERE MEMBER_SERIAL = #{member_serial}
    </select>
    
    <delete id="deleteCartlist" parameterType="int">
    	DELETE FROM STORE_CARTLIST
    	WHERE CART_ID = #{cart_id}
    </delete> -->
</mapper>









