<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserAccount">

	<insert id="insertUserAccount" parameterType="UserAccount">
		INSERT INTO USER_ACCOUNT (MEMBER_SERIAL, ID, EMAIL, CITIZEN_ID, PHONE, PASSWORD, STATUS, POINT, COUPONS) 
		VALUES (MEMBER_SERIAL_SEQ.NEXTVAL, 
				#{id}, #{email}, #{citizenId}, #{phone}, #{status}, #{point}, #{coupons})
	</insert>
	
	<select id="getUserAccount" parameterType="UserAccount" resultType="UserAccount">
		SELECT * FROM USER_ACCOUNT WHERE MEMBER_SERIAL = #{MEMBER_SERIAL}
	</select>
	
	<select id="loginValidation" parameterType="UserAccount" resultType="UserAccount">
		SELECT * FROM USER_ACCOUNT WHERE ID = #{ID} AND PASSWORD = #{PASSWORD}
	</select>
	<!-- 
	<select id="getUserList" parameterType="User" resultType="User">
		SELECT * FROM User 
		WHERE 1=1
		<if test="searchCondition == 'TITLE'">
			AND TITLE LIKE '%'|| #{searchKeyword} ||'%'
		</if> 
		<if test="searchCondition == 'CONTENT'">
			AND CONTENT LIKE '%'|| #{searchKeyword} ||'%'
		</if>
		ORDER BY SEQ DESC
	</select>
	
	
	<select id="getUserList_T" parameterType="User" resultType="User">
		SELECT * FROM User WHERE TITLE LIKE '%'|| #{searchKeyword} ||'%'
		ORDER BY SEQ DESC
	</select>
	<select id="getUserList_C" parameterType="User" resultType="User">
		SELECT * FROM User WHERE CONTENT LIKE '%'|| #{searchKeyword} ||'%'
		ORDER BY SEQ DESC
	</select>
	 -->
</mapper>









