<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserAccount">

<!-- TODO SearchAccount의 동적검색을 추가해야 함 -->
<!-- TODO SearchAccount를 List형태로 돌려주는 것으로 변환해야 함 -->

	<insert id="insertUserAccount" parameterType="UserAccount">
				INSERT INTO USER_ACCOUNT (MEMBER_SERIAL, ID, EMAIL, CITIZEN_ID, PHONE, PASSWORD, STATUS, POINT, COUPONS)
				VALUES (MEMBER_SERIAL_SEQ.NEXTVAL,
						#{id}, #{email}, #{citizenId}, #{phone}, #{status}, #{point}, #{coupons})
	</insert>

	<insert id="insertTemporaryUserAccount" parameterType="UserAccount" >
		INSERT INTO USER_ACCOUNT (MEMBER_SERIAL, ID, EMAIL, PHONE, PASSWORD)
		VALUES (MEMBER_SERIAL_SEQ.NEXTVAL, 
				#{id}, #{email}, #{phone}, #{password})
	</insert>

	<delete id="deleteUserAccount" parameterType="UserAccount">
		DELETE FROM USER_ACCOUNT WHERE ID = #{id}
	</delete>

	<update id="updateUserAccount" parameterType="UserAccount">
		UPDATE USER_ACCOUNT
		SET PASSWORD = #{password}
		, EMAIL = #{email}
		, PHONE = #{phone}
		WHERE ID = #{id}
	</update>

	<select id="getUserAccount" parameterType="UserAccount" resultType="UserAccount">
		SELECT * FROM USER_ACCOUNT
		WHERE MEMBER_SERIAL = #{memberSerial}
	</select>
	
	<select id="searchUserAccount" parameterType="UserAccount" resultType="UserAccount">
		SELECT * FROM USER_ACCOUNT
		WHERE ID = #{id}
		AND PASSWORD = #{password}
		AND EMAIL = #{email}
		AND PHONE = #{phone}
	</select>

	<select id="loginValidation" parameterType="UserAccount" resultType="UserAccount">
		SELECT * FROM USER_ACCOUNT WHERE ID = #{id} AND PASSWORD = #{password}
	</select>
	
	<select id="loginValidation" parameterType="UserAccount" resultType="UserAccount">
		SELECT * FROM USER_ACCOUNT WHERE ID = #{id}
	</select>
	
	<select id="getUserList" resultType="UserAccount">
		SELECT *
		FROM USER_ACCOUNT
		ORDER BY MEMBER_SERIAL
<!-- 		SELECT * -->
<!-- 		FROM USER_ACCOUNT ACT, USER_DETAIL DET -->
<!-- 		WHERE DET.MEMBER_SERIAL = ACT.MEMBER_SERIAL -->
<!--         ORDER BY ACT.MEMBER_SERIAL -->
	</select>
	
	<select id="getUserDtoList" resultType="UserDTO">
		SELECT *
		FROM USER_ACCOUNT ACT, USER_DETAIL DET
		WHERE DET.MEMBER_SERIAL(+) = ACT.MEMBER_SERIAL
        ORDER BY ACT.MEMBER_SERIAL
	</select>
	
	<select id="searchUserList" resultType="UserAccount">
	</select>
	
	<!-- 
	<select id="getUserList" parameterType="User" resultType="User">
		SELECT * FROM User
		WHERE 1=1
		<if test="searchCondition == 'TITLE'">
			AND TITLE LIKE '%'|| #{searchKeyword} ||'%'
		</if>
		<if test="searchCondition == 'CONTENT'">
			AND CONTENT LIKE '%'|| #{searchKeyword} ||'%'
		</if>
		ORDER BY SEQ DESC
	</select>
	-->
<!--
	<select id="getUserList_T" parameterType="User" resultType="User">
		SELECT * FROM User WHERE TITLE LIKE '%'|| #{searchKeyword} ||'%'
		ORDER BY SEQ DESC
	</select>
	<select id="getUserList_C" parameterType="User" resultType="User">
		SELECT * FROM User WHERE CONTENT LIKE '%'|| #{searchKeyword} ||'%'
		ORDER BY SEQ DESC
	</select>
	 -->
</mapper>
